/*Base classes*/

.container{
	width: 1170px;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content:space-between;
	align-items: center;
}

/*navigation*/
.header{
	padding: 15px 0;
}
.logo{
	width: 100px;

}
.navigation-ul{
	display: flex;
	
}
.navigation-li{
	margin-right: 16px;
	color: #3D58A6;
}
.navigation-li:last-child{
	margin-right: 0px;
}
/*gray-bg*/
.Banner{
	margin: 0 auto;
	width: 1170px;
	height: 460px;
	padding: 58px 0;
}
.gray-bg{
	background-color: #E6E6E6;
}
/*blue-bg*/
.blue-bg{
	background-color: #363E97;
	padding-top: 30px;
	padding-bottom: 90px;
}
.box{
	width: 570px;
	height: 320px;
	background-color:#ffffff;
	margin-right: 30px;
}
.wrapper{
	padding-top: 30px;
}
.text{
	font-size: 24px;
	margin-left: 22px;
	color: white;
}
.text-box{
	text-align: center;
	line-height: 320px;
	font-size: 17px;
}
/*light-blue*/
.light-text{
	margin-top: 30px;
	font-size: 24px;
	color: #3D58A6;
	margin-left: 22px;

}
.wrapper-image{
	padding-top: 30px;

}

.light-blue{
	background-color: #BDCCD4;
	padding-top: 30px;
	padding-bottom: 30px;
}
.image-box-text{
	font-size: 22px;
	background-color: #E6E6E6;
	line-height: 60px;
	padding-left: 14px;
}
.img{
	display: block;
}
/*white-bg*/
.white-bg{
	background-color: #E6E6E6;
}
.white-box{
    background-color: #F2F2F2;
    margin-right: 30px;

}
.white-box-logo{
	height: 100px;
	padding-left: 38px;
	

}
.wrapper-white{
	display: flex;
	justify-content: space-between;
	
}
.logo-text{
	font-size: 20px;

}
.black-text{
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.white-box-title{
	font-size: 22px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 48px;
	color: #3D58A6;

}
.box1{
	display: flex;
	justify-content: space-between;
}
.read-more{
	float: right;
}